.governingbody-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
   font-family: "Red Hat Text","Noto Sans Malayalam";
}
.governingbody-header-set-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 120px;
}
.governingbody-header-set-wrapper img {
  width: 57%;
}
.governingbody-header-set-cover {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.001);
  z-index: 100;
}
.governingbody-header-set-cover-text {
  position: absolute;
  left: 50%;
}

.governingbody-header-set-cover-text h2 {
  font-size: 3.5vw;
  font-weight: 400;
  line-height: 1;
}

.governingbody-header-set-cover-text h1 {
  font-size: 7.2vw;
  font-weight: 600;
  line-height: 1;
  color: #fbba16;
}

@media screen and (max-width: 1350px) {
  .governingbody-header-set-wrapper img {
    width: 80%;
  }
  .governingbody-header-set-cover-text h2 {
    font-size: 5vw;
  }

  .governingbody-header-set-cover-text h1 {
    font-size: 10.4vw;
  }
  .governingbody-header-set-cover-text {
    top: 40%;
  }
}
@media screen and (max-width: 550px) {
  .governingbody-header-set-wrapper{
    margin-bottom: 60px;
  }
  .governingbody-header-set-cover-text h2 {
    font-size: 6vw;
  }

  .governingbody-header-set-cover-text h1 {
    font-size: 12.6vw;
  }
  .governingbody-header-set-cover-text {
    left: 50%;
    top: 45%;
  }
}
.governingbody-wrapper .volunteering-arrow {
  position: absolute;
  z-index: 600;
}
.governingcontent-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}
.governingcontent-individual-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  text-align: center;
  gap: 4px;
  border: 2px solid transparent;
}
.people-governing {
  display: none;
}
.governingcontent-individual-wrapper > img {
  width: 100%;
  filter: grayscale(100%);
  margin-bottom: 10px;
}
.governingcontent-individual-wrapper h3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fbba16;
}
.governingcontent-individual-wrapper h2 {
  font-size: 23.3px;
  font-weight: 500;
  line-height: 1;
}
.governingcontent-individual-wrapper p {
  font-size: 14px;
  color: #5d5d5d;
}

.governingcontent-individual-wrapper:hover {
  border: 2px solid #fbba16;
}

.governingcontent-individual-wrapper:hover img {
  filter: grayscale(0%);
}

@media screen and (max-width: 950px){
.governingcontent-wrapper{
  gap: 30px;
}
}