.entrepreneurship-header-sect {
  background: url("../../../assets/JoinUspage/entrepreneurshipbg.webp") center
    center/cover no-repeat;
}
.entrepreneurship-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Text","Noto Sans Malayalam";
}

.entrepreneurship-wrapper .submitidea-timeline-content {
  display: flex;
  flex-direction: column;

  gap: 85px !important;
}

@media screen and (max-width: 850px) {
  .entrepreneurship-wrapper .submitidea-timeline-content {
    gap: 90px !important;
  }
}

.entrepreneurship-quote-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 4vh 5.8vw;
}
.entrepreneurship-quote-wrapper h1 {
  font-weight: 400;
  line-height: 1;
  font-size: 4vw;
  text-transform: uppercase;
}
.entrepreneurship-quote-wrapper h2 {
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  font-size: 1.5vw;
}
.entrepreneurship-quote-wrapper p {
  font-size: 20px;
  line-height: 1.2;
}
@media screen and (max-width: 850px) {
  .entrepreneurship-quote-wrapper {
    gap: 15px;
  }
  .entrepreneurship-quote-wrapper h1 {
    font-size: 4.8vw;
  }
  .entrepreneurship-quote-wrapper h2 {
    font-size: 2vw;
  }
  .entrepreneurship-quote-wrapper p {
    font-size: 18px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 500px) {
    .entrepreneurship-quote-wrapper {
    gap: 10px;
  }
  .entrepreneurship-quote-wrapper h1 {
    font-size: 5.7vw;
    margin-bottom: 5px;
  }
  .entrepreneurship-quote-wrapper h2 {
    font-size: 3.4vw;
  }
  .entrepreneurship-quote-wrapper p {
    font-size: 15px;
    line-height: 1.2;
  }
}
