.projectfunds-header-sect {
  background: url("../../../assets/JoinUspage/projectfundbg.webp") center
    center/cover no-repeat;
}

.projectfund-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Text", "Noto Sans Malayalam";
}

.projectfund-wrapper .submitidea-timeline-content {
  display: flex;
  flex-direction: column;

  gap: 85px !important;
}

@media screen and (max-width: 850px) {
  .projectfund-wrapper .submitidea-timeline-content {
    gap: 90px !important;
  }
}

.projectfund-quotes-wrapper {
  text-align: center;
  padding: 3vh 5.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.projectfund-quotes-wrapper h2 {
  font-weight: 400;
  font-size: 3.8vw;
  text-transform: uppercase;
  line-height: 1;
}
.projectfund-quotes-wrapper h1 {
  font-size: 5vw;
  text-transform: uppercase;
  line-height: 1;
}
.projectfund-quotes-wrapper h3 {
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.5vw;
  font-weight: 400;
}

.projectfund-quotes-wrapper p {
  font-size: 20px;
}

.projectfund-quotes-wrapper div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 1350px) {
  .projectfund-quotes-wrapper div:nth-child(2) {
    gap: 15px;
  }
  .projectfund-quotes-wrapper h2 {
    font-size: 4vw;
  }
  .projectfund-quotes-wrapper h1 {
    font-size: 7vw;
  }
  .projectfund-quotes-wrapper h3 {
    font-size: 1.7vw;
  }

  .projectfund-quotes-wrapper p {
    font-size: 17px;
  }
}
@media screen and (max-width: 650px) {
  .projectfund-quotes-wrapper div:nth-child(2) {
    gap: 10px;
  }
  .projectfund-quotes-wrapper h2 {
    font-size: 4.5vw;
  }
  .projectfund-quotes-wrapper h1 {
    font-size: 7.5vw;
  }
  .projectfund-quotes-wrapper h3 {
    font-size: 2.4vw;
    line-height: 1.2;
  }

  .projectfund-quotes-wrapper p {
    font-size: 14px;
  }
}

.projectfund-cardset-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.projectfund-cardset-wrapper h1 {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
  margin-bottom: 20px;
  line-height: 1;
  gap: 0.7vw;
  text-align: center;
}
.projectfund-cardset-wrapper h1 span {
  border-bottom: 1vw solid #fbba16;
  height: 3.2vw;
}
.projectfund-cardset-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  align-items: center;
  justify-content: center;
}
.projectfund-cardset-individual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  width: 340px;
  height: 380px;
  padding: 25px 35px;
}
.projectfund-cardset-individual svg {
  width: 100px;
  height: 100px;
}
.projectfund-cardset-individual h3 {
  text-transform: uppercase;
  line-height: 1;
  font-size: 23px;
  font-weight: 500;
}
.projectfund-cardset-individual p {
  line-height: 1.2;
  font-size: 18px;
}

.projectfund-cardset-content-wrapper div:nth-child(1),
.projectfund-cardset-content-wrapper div:nth-child(2) {
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.2);
  border-right: 0.25px solid rgba(0, 0, 0, 0.2);
}

.projectfund-cardset-content-wrapper div:nth-child(3) {
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.2);
}
.projectfund-cardset-content-wrapper div:nth-child(4),
.projectfund-cardset-content-wrapper div:nth-child(5) {
  border-right: 0.25px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1100px) {
  .projectfund-cardset-individual svg {
    width: 85px;
    height: 85px;
  }
  .projectfund-cardset-individual h3 {
    font-size: 19px;
  }
  .projectfund-cardset-individual p {
    font-size: 15px;
  }

  .projectfund-cardset-content-wrapper {
    width: 600px;
  }
  .projectfund-cardset-individual {
    gap: 12px;
    width: 300px;
    padding: 15px 20px;
  }

  .projectfund-cardset-content-wrapper div:nth-child(2) {
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.2);
    border-right: none;
  }
  .projectfund-cardset-content-wrapper div:nth-child(3) {
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.2);
    border-right: 0.25px solid rgba(0, 0, 0, 0.2);
  }
  .projectfund-cardset-content-wrapper div:nth-child(4) {
    border-right: none;

    border-bottom: 0.25px solid rgba(0, 0, 0, 0.2);
  }
  .projectfund-cardset-content-wrapper div:nth-child(5) {
    border-right: 0.25px solid rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 850px) {
  .projectfund-cardset-wrapper h1 {
    font-size: 5vw;
    gap: 0.7vw;
  }
  .projectfund-cardset-wrapper h1 span {
    border-bottom: 1.6vw solid #fbba16;
    height: 4.6vw;
  }
}

@media screen and (max-width: 600px) {
  .projectfund-cardset-individual svg {
    width: 80px;
    height: 80px;
  }
  .projectfund-cardset-individual h3 {
    font-size: 19px;
  }
  .projectfund-cardset-individual p {
    font-size: 15px;
  }

  .projectfund-cardset-content-wrapper {
    width: 300px;
  }
  .projectfund-cardset-individual {
    gap: 12px;
    width: 300px;
    padding: 15px 20px;
  }

  .projectfund-cardset-content-wrapper div:nth-child(2),
  .projectfund-cardset-content-wrapper div:nth-child(4),
  .projectfund-cardset-content-wrapper div:nth-child(6) {
    border-left: 0.25px solid rgba(0, 0, 0, 0.2);
  }

  .projectfund-cardset-content-wrapper div:nth-child(5) {
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 500px) {
  .projectfund-cardset-wrapper h1 {
    font-size: 5.8vw;
    gap: 0.8vw;
  }
  .projectfund-cardset-wrapper h1 span {
    border-bottom: 1.6vw solid #fbba16;
    height: 5.1vw;
  }
}

.ProjectListingBoxWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 100px; */
  width: 100%;
  padding: 4vh 5vw 0vh;
}

.ProjectListingBoxWrapper h1 {
  font-weight: 500;
  font-size: 3.5vw;
  line-height: 1;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.ProjectListingBoxWrapper h1 span {
  border-bottom: 1vw solid #fbba16;
  height: 3.2vw;
}

.ProjectListingBoxWrapper > div {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fbba16;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.SingleProjectComponent {
  min-width: 250px;
  background-color: aqua;
}
@media screen and (max-width: 850px) {
  .ProjectListingBoxWrapper h1 {
    font-size: 5vw;
  }
  .ProjectListingBoxWrapper h1 span {
    height: 4.6vw;
    border-bottom: 1.6vw solid #fbba16;
  }
}
@media screen and (max-width: 500px) {
  .ProjectListingBoxWrapper h1 {
    font-size: 5.8vw;
  }
  .ProjectListingBoxWrapper h1 span {
    height: 5.1vw;
  }
  .ProjectListingBoxWrapper > div {
   
  }
}
