.projectfunds-header-sect {
  background: url("../../../assets/JoinUspage/projectfundbg.png") center
    center/cover no-repeat;
}

.projectfund-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Text";
}

.projectfund-wrapper .submitidea-timeline-content {
  display: flex;
  flex-direction: column;

  gap: 85px !important;
}

@media screen and (max-width: 850px) {
  .projectfund-wrapper .submitidea-timeline-content {
    gap: 90px !important;
  }
}
