.vm-wrapper {
  padding: 1vh 17vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.vm-individual {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}
.vm-content-wrapper h2 {
  font-size: 40px;
  font-weight: 500;
  border-bottom: 8px solid #ffbabd;
  height: 40px;
}
.vm-content-wrapper p {
  font-size: 22px;
  line-height: 1.3;
  font-weight: 300;
}
.vm-svg {
  height: fit-content;
  display: flex;
  align-items: center;
}

.vm-svg svg {
  width: 180px;
  height: 180px;
}
.vm-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 15px;
}
.mission-wrap > .vm-content-wrapper {
  align-items: flex-end;
  text-align: right;
}

@media screen and (max-width: 1750px) {
  .vm-wrapper {
    padding: 3vh 6vw;
    gap: 20px;
  }
}
@media screen and (max-width: 1450px) {
  .vm-content-wrapper p {
    font-size: 22px;
    line-height: 1.3;
  }
}
@media screen and (max-width: 970px) {
  .vm-content-wrapper h2 {
    font-size: 35px;
  }
  .vm-content-wrapper p {
    font-size: 16px;
    line-height: 1.3;
  }
  .vm-svg svg {
    width: 170px;
    height: 170px;
  }
}
@media screen and (max-width: 780px) {
  .vm-content-wrapper {
    gap: 8px;
  }
  .vm-svg svg {
    width: 150px;
    height: 150px;
  }
  .vm-content-wrapper p {
    font-size: 16px;
    line-height: 1.1;
  }
}
@media screen and (max-width: 500px) {
  .vm-content-wrapper p {
    font-size: 16px;
  }
  .vm-individual {
    align-items: center;
  }
  .vision-wrap {
    display: flex;
    flex-direction: column;
  }
  .mission-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .vm-svg svg {
    width: 90px;
    height: 90px;
  }
  .vision-wrap > .vm-content-wrapper {
    align-items: center;
    text-align: center;
    gap: 20px;

  }
  .mission-wrap > .vm-content-wrapper {
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}

.collaborate-wrap {
  padding: 7vh 10vw 3vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  
}
.collaborator-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.collaborator-header h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
.collaborator-header h1 > span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
.collaborator-header h1 > span > .collaborate-header-bottonline {
  border-bottom: 10px solid #fbba16;
  height: 37px;
}
.collaborator-header p {
  font-size: 20px;
  color: #767676;
}
.colaborator-stages-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  gap: 20px;
}
.colaborator-individual-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px;
  text-align: center;
}
.colaborator-individual-content p {
  line-height: 1.3;
  font-size: 18px;
  font-weight: 400;
}
.colaborator-stages-wrapper .spl-vm-container {
  width: 270px;
}
.colaborator-individual-content-top {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1450px) {
  .collaborate-wrap {
    padding: 3vh 6vw;
    gap: 30px;
  }
}

@media screen and (max-width: 745px) {
  .collaborator-header h1 {
    flex-direction: column;
  }
  .collaborator-header h1 > span > .collaborate-header-bottonline {
    border-bottom: 8px solid #fbba16;
    height: 35px;
  }
}
@media screen and (max-width: 500px) {
  .colaborator-stages-wrapper {
    gap: 40px;
  }
  .collaborator-header p {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .collaborator-header h1 span {
    flex-direction: column;
    gap: 7px;
  }
  .collaborator-header h1 > span > .collaborate-header-bottonline {
    border-bottom: 8px solid #fbba16;
    height: 35px;
  }
}
