.home-wrapper {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/home-bg.webp") center center/cover no-repeat;
}
.home-screen-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  font-family: "Red Hat Text", "Noto Sans Malayalam";
}

.home-screen-wrapper div {
  height: 100%;
  min-width: 900px;
}

.home-screen-wrapper div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1150px) {
}
@media screen and (max-width: 880px) {
  .home-wrapper {
    background: url("../../assets/tabhome-bg.webp") left center/cover no-repeat;
  }
  .home-language-switcher {
    display: none;
  }
}

@media screen and (max-width: 650px) {
}
@media screen and (max-width: 490px) {
  .home-wrapper {
    background: url("../../assets/mobhome-bg.webp") center center/cover
      no-repeat;
  }
}

.home-button-nav {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 5%;
}

.m_scroll_arrows {
  display: block;

  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  margin: 0 0 3px 0px;
  border-radius: 3px;
  width: 30px;
  height: 30px;
}

.unu {
  margin-top: 0px;
}

.unu,
.doi,
.trei,
.quad {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;

  animation-direction: alternate;
  animation-delay: alternate;
  margin-top: -20px;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.2s;
  animation-direction: alternate;

  margin-top: -20px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.3s;
  animation-direction: alternate;

  margin-top: -20px;
}
.quad {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-direction: alternate;

  animation-delay: 0.4s;
  animation-direction: alternate;

  margin-top: -20px;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-o-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
