.LanguageSwitcher-wrapper {
  position: fixed;
  z-index: 9000;
  top: 30px;
  right: 2%;
}

.LanguageSwitcher-wrapper > select {
  background-color: #fbba16;
  color: white;
  padding: 5px;
  border-radius: 50%;
  appearance: none;
  height: 50px;
  width: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  border: none;
}

@media screen and (max-width: 880px) {
  .LanguageSwitcher-wrapper {
    position: initial;
  }
}
