.LanguageSwitcher-wrapper {
  position: fixed;
  z-index: 9000;
  top: 28px;
  right: 2%;
   font-family: "Red Hat Text","Noto Sans Malayalam";
}

.LanguageSwitcher-wrapper > button {
  background-color: #fbba16;
  color: white;
  border-radius: 50%;
  padding: 0px;
  height: 50px;
  width: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
}

@media screen and (max-width: 880px) {
  .LanguageSwitcher-wrapper {
    position: initial;
  }
}
