.LanguageSwitcher-wrapper {
  position: fixed;
  z-index: 9000;
  top: 25px;
  right: 2%;
}

.LanguageSwitcher-wrapper > select {
  background-color: #fbba16;
  color: white;
  border-radius: 50%;
  padding: 1px;
  height: 60px;
  width: 60px;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  border: none;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}

@media screen and (max-width: 880px) {
  .LanguageSwitcher-wrapper {
    position: initial;
  }
}
