.navbar-wrapper {
  display: flex;
  width: 100vw;
}
.navbar {
  display: flex;
  width: 100vw;
  padding: 1.5vh 3vw;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 9000;
  justify-content: center;
  top: 0;
  font-size: 17px;
}
.nav-logo {
  transition: all 0.3s ease-in-out;
}
.navbar-desk {
  display: flex;
  align-items: center;
  gap: 2.3vw;
}

.navbar-mob {
  display: none;
}
.navbar-wrapper a {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 17px;
}
.navbar-wrapper a p {
  text-transform: uppercase;
}

.navbar button {
  margin-top: 5px;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}
.navbar .dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 1;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top:0px;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dropdown .dropdown-content a:hover {
  border-bottom: 4px solid #eaa903;
}
.dropdown svg {
  stroke: white;
}
/* .navbar-wrapper a:hover{
  color: #FBBA16;
} */
@media screen and (max-width: 970px) {
  .navbar-desk {
    gap: 1vw;
  }
}
@media screen and (max-width: 900px) {
  .navbar-mob {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 1.5vh;
  }
  .navbar-desk {
    display: none;
  }
  .menu-div {
    position: absolute;
    top: 80px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 90vh;
    padding:160px 10px 0px 10px;
    gap: 20px;
  }
  .innerSetMenuDiv {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: -15vh;
  }

  .menu-div a,
  .menu-div button {
    color: black;
  }
  .dropdown svg {
    stroke: black;
  }
  .menu-div .language {
    position: fixed;
    z-index: 8000;
    right: 20px;
    top: 100px;
  }
  .dropdown .dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
    min-width: none;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10px;
  }
  .navbar {
    padding: 0;
    background-color: white;
  }
}
