.ngocollaboration-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Text";
}

.ngocollobaration-header-sect {
  background: url("../../../assets/JoinUspage/ngocolloboration.png") center
    center/cover no-repeat;
}

.ngocollaboration-wrapper .submitidea-timeline-content {
  display: flex;
  flex-direction: column;

  gap: 70px !important;
}
@media screen and (max-width: 850px){
  .ngocollaboration-wrapper .submitidea-timeline-content {
 

  gap: 80px !important;
}
}@media screen and (max-width: 415px){
  .ngocollaboration-wrapper .submitidea-timeline-content {
 

  gap: 90px !important;
}
}